## Лабораторная 2 - Pandas

## Каткова Полина

In [1]:
import pandas as pd
import numpy as np

#### Задание 1. Считать в pandas DataFrame

Данные преступлений в Сан-Франциско за 2016 год

Ссылка: https://www.kaggle.com/roshansharma/sanfranciso-crime-dataset

In [2]:
df = pd.read_csv('crimes.csv')

#### Задание 2. Операции с DataFrame

In [3]:
df.head() #2.1

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000

In [4]:
df.describe() #2.2

         IncidntNum              X              Y          PdId
count  1.505000e+05  150500.000000  150500.000000  1.505000e+05
mean   1.616440e+08    -122.423599      37.768921  1.616440e+13
std    5.535976e+06       0.026210       0.023637  5.535976e+11
min    1.135121e+07    -122.513642      37.707922  1.135121e+12
25%    1.603283e+08    -122.434036      37.756486  1.603283e+13
50%    1.606541e+08    -122.416903      37.775421  1.606541e+13
75%    1.609764e+08    -122.406605      37.785063  1.609764e+13
max    9.910090e+08    -122.365565      37.819975  9.910090e+13

In [5]:
df.iat[ 10, 8 ] #2.3 считать значение конкретной ячейки (колонка Adress)

'1200 Block of 19TH AV'

In [6]:
df.loc[100:105] #2.4. фильтрация строк по диапазону индекса (c 99 по 104)

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
100,160015470,BURGLARY,"BURGLARY OF RESIDENCE, FORCIBLE ENTRY",Wednesday,01/06/2016 12:00:00 AM,09:00,TARAVAL,NONE,2500 Block of KIRKHAM ST,-122.488120,37.759281,"(37.7592805524173, -122.488120173893)",16001547005041
101,160015486,ROBBERY,"ROBBERY, BODILY FORCE",Wednesday,01/06/2016 12:00:00 AM,17:20,MISSION,JUVENILE BOOKED,CAPP ST / 22ND ST,-122.417661,37.755504,"(37.7555043420028, -122.417660640341)",16001548603074
102,160212234,TRESPASS,TRESPASSING,Sunday,03/13/2016 12:00:00 AM,12:15,SOUTHERN,"ARREST, BOOKED",100 Block of 3RD ST,-122.401028,37.785391,"(37.7853906306613, -122.401027740415)",16021223427195
103,160212240,SECONDARY CODES,JUVENILE INVOLVED,Sunday,03/13/2016 12:00:00 AM,11:45,NORTHERN,NONE,400 Block of PAGE ST,-122.428178,37.773295,"(37.773295406746, -122.428178458093)",16021224015500
104,160016337,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Thursday,01/07/2016 12:00:00 AM,01:25,INGLESIDE,"ARREST, BOOKED",GENEVA AV / CAYUGA AV,-122.443697,37.718928,"(37.718927976006, -122.443696904615)",16001633765016
105,160016343,SUSPICIOUS OCC,SUSPICIOUS OCCURRENCE,Thursday,01/07/2016 12:00:00 AM,01:17,TARAVAL,NONE,3200 Block of 20TH AV,-122.475647,37.728528,"(37.7285280627465, -122.475647460786)",16001634364070

In [7]:
#2.5. фильтрация набора данных по какому-либо условию (время преступления c 23:50 до 00:00)
df.loc[df['Time'] > '23:50']

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
86,160013872,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM",Tuesday,01/05/2016 12:00:00 AM,23:59,TENDERLOIN,NONE,300 Block of EDDY ST,-122.413791,37.783837,"(37.7838365565348, -122.413790972781)",16001387228150
213,160022356,NON-CRIMINAL,"AIDED CASE, MENTAL DISTURBED",Friday,01/08/2016 12:00:00 AM,23:56,SOUTHERN,NONE,BRYANT ST / 5TH ST,-122.400302,37.777799,"(37.7777992290419, -122.400302421513)",16002235664020
318,160029998,VEHICLE THEFT,STOLEN AUTOMOBILE,Sunday,01/10/2016 12:00:00 AM,23:55,TENDERLOIN,NONE,HYDE ST / TURK ST,-122.415695,37.782585,"(37.7825851968467, -122.415694922134)",16002999807021
430,160037612,FRAUD,"CREDIT CARD, THEFT BY USE OF",Wednesday,01/13/2016 12:00:00 AM,23:59,SOUTHERN,NONE,1000 Block of HOWARD ST,-122.408521,37.778585,"(37.7785853155801, -122.408520791815)",16003761209320
1044,160076143,OTHER OFFENSES,POSSESSION OF BURGLARY TOOLS,Tuesday,01/26/2016 12:00:00 AM,23:52,TENDERLOIN,NONE,TURK ST / HYDE ST,-122.415695,37.782585,"(37.7825851968467, -122.415694922134)",16007614327130
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149494,160725055,ROBBERY,ROBBERY OF A CHAIN STORE WITH BODILY FORCE,Tuesday,09/06/2016 12:00:00 AM,23:55,INGLESIDE,NONE,3300 Block of MISSION ST,-122.421644,37.742997,"(37.7429970144076, -122.421644478447)",16072505503044
149518,176010199,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Thursday,12/29/2016 12:00:00 AM,23:55,SOUTHERN,NONE,100 Block of KISSLING ST,-122.415581,37.772010,"(37.7720099063759, -122.415580579167)",17601019906244
149861,160906136,DRIVING UNDER THE INFLUENCE,"DRIVING WHILE UNDER THE INFLUENCE OF ALCOHOL, ...",Sunday,11/06/2016 12:00:00 AM,23:52,TARAVAL,"ARREST, BOOKED",LINCOLN WY / MARTIN LUTHER KING JR DR,-122.509400,37.764030,"(37.764029830097, -122.509399613079)",16090613665056
150181,160288570,NON-CRIMINAL,"DEATH REPORT, CAUSE UNKNOWN",Thursday,04/07/2016 12:00:00 AM,23:57,PARK,NONE,300 Block of BUENAVISTAEAST AV,-122.440721,37.766792,"(37.7667916111324, -122.440720545257)",16028857061030
150371,160612822,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Friday,07/29/2016 12:00:00 AM,23:55,NORTHERN,NONE,1500 Block of PINE ST,-122.421341,37.789568,"(37.7895684897255, -122.421341005458)",16061282206243

In [8]:
#2.6. Удалить строки с пропущенными значениями (заполнение пропущенных значений средним значением по колонке)

In [9]:
# генерация пропущенных значений np.nan
df.iat[ 10, 9 ] = None
df.iat[ 15, 9 ] = None
df.iat[ 13, 9 ] = None

In [10]:
df.loc[10:15]

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
10,160086863,LARCENY/THEFT,ATTEMPTED THEFT FROM LOCKED VEHICLE,Friday,01/29/2016 12:00:00 AM,22:30,TARAVAL,NONE,1200 Block of 19TH AV,NaN,37.764478,"(37.7644781578695, -122.477376524003)",16008686306240
11,160004053,NON-CRIMINAL,"AIDED CASE, MENTAL DISTURBED",Saturday,01/02/2016 12:00:00 AM,13:30,TARAVAL,NONE,2200 Block of 21ST AV,-122.477960,37.745739,"(37.7457389429655, -122.477960327299)",16000405364020
12,160073014,OTHER OFFENSES,RESISTING ARREST,Monday,01/25/2016 12:00:00 AM,23:20,BAYVIEW,"ARREST, BOOKED",200 Block of HUNTERSPOINT BL,-122.376758,37.735697,"(37.7356970275482, -122.37675765553)",16007301427170
13,140776777,ASSAULT,AGGRAVATED ASSAULT WITH A GUN,Thursday,09/15/2016 12:00:00 AM,07:40,INGLESIDE,"ARREST, BOOKED",SILVER AV / CAMELLIA AV,NaN,37.729271,"(37.7292705199592, -122.432325871028)",14077677704011
14,160004069,BURGLARY,"BURGLARY,STORE UNDER CONSTRUCTION, FORCIBLE ENTRY",Saturday,01/02/2016 12:00:00 AM,01:43,CENTRAL,NONE,100 Block of SANSOME ST,-122.400909,37.791643,"(37.791642982384, -122.40090869889)",16000406905151
15,160004150,STOLEN PROPERTY,"STOLEN CHECKS, POSSESSION",Saturday,01/02/2016 12:00:00 AM,11:54,SOUTHERN,"ARREST, BOOKED",900 Block of MARKET ST,NaN,37.783707,"(37.7837069301545, -122.408595110869)",16000415011017

In [11]:
# Заполнение пропущеных значений средней величиной по столбцу
df['X'] = df['X'].fillna(df['X'].mean())

In [12]:
df.loc[10:15]

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
10,160086863,LARCENY/THEFT,ATTEMPTED THEFT FROM LOCKED VEHICLE,Friday,01/29/2016 12:00:00 AM,22:30,TARAVAL,NONE,1200 Block of 19TH AV,-122.423598,37.764478,"(37.7644781578695, -122.477376524003)",16008686306240
11,160004053,NON-CRIMINAL,"AIDED CASE, MENTAL DISTURBED",Saturday,01/02/2016 12:00:00 AM,13:30,TARAVAL,NONE,2200 Block of 21ST AV,-122.477960,37.745739,"(37.7457389429655, -122.477960327299)",16000405364020
12,160073014,OTHER OFFENSES,RESISTING ARREST,Monday,01/25/2016 12:00:00 AM,23:20,BAYVIEW,"ARREST, BOOKED",200 Block of HUNTERSPOINT BL,-122.376758,37.735697,"(37.7356970275482, -122.37675765553)",16007301427170
13,140776777,ASSAULT,AGGRAVATED ASSAULT WITH A GUN,Thursday,09/15/2016 12:00:00 AM,07:40,INGLESIDE,"ARREST, BOOKED",SILVER AV / CAMELLIA AV,-122.423598,37.729271,"(37.7292705199592, -122.432325871028)",14077677704011
14,160004069,BURGLARY,"BURGLARY,STORE UNDER CONSTRUCTION, FORCIBLE ENTRY",Saturday,01/02/2016 12:00:00 AM,01:43,CENTRAL,NONE,100 Block of SANSOME ST,-122.400909,37.791643,"(37.791642982384, -122.40090869889)",16000406905151
15,160004150,STOLEN PROPERTY,"STOLEN CHECKS, POSSESSION",Saturday,01/02/2016 12:00:00 AM,11:54,SOUTHERN,"ARREST, BOOKED",900 Block of MARKET ST,-122.423598,37.783707,"(37.7837069301545, -122.408595110869)",16000415011017

In [13]:
# 2.7.1 Создание нового столбца, равного сумме столбцов Х и У (через выражение на базе имеющихся колонок)
df['SumXY'] = df['X'] + df['Y']

In [14]:
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId,SumXY
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120,-84.627984
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168,-84.627984
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010,-84.658875
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000,-84.627182
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000,-84.654622

In [15]:
# 2.7.2 Создание нового столбца, равного сумме столбцов Х и У (через DataFrame.apply)
df['SumXY'] = df.apply( lambda row: row['X'] + row['Y'], axis = 1 )
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId,SumXY
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120,-84.627984
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168,-84.627984
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010,-84.658875
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000,-84.627182
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000,-84.654622

In [16]:
# 2.7.3 Создание нового столбца (через Series.apply)
df['SumXY_'] = df['SumXY'].apply( lambda val: val + 84.6 )
df['SumXY_']

0        -0.027984
1        -0.027984
2        -0.058875
3        -0.027182
4        -0.054622
            ...
150495   -0.082554
150496   -0.005231
150497   -0.021596
150498   -0.018384
150499   -0.027984
Name: SumXY_, Length: 150500, dtype: float64

In [17]:
#2.8. сортировка по полю Time
df.sort_values( by = 'Time' )

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId,SumXY,SumXY_
138989,170159933,BURGLARY,"BURGLARY OF FLAT, UNLAWFUL ENTRY",Saturday,02/20/2016 12:00:00 AM,00:01,NORTHERN,NONE,0 Block of TOLEDO WY,-122.438546,37.801285,"(37.8012845616199, -122.438545758825)",17015993305023,-84.637261,-0.037261
11765,160983833,MISSING PERSON,MISSING JUVENILE,Saturday,12/03/2016 12:00:00 AM,00:01,BAYVIEW,NONE,1600 Block of MCKINNON AV,-122.389661,37.736179,"(37.7361786073283, -122.389660701177)",16098383374010,-84.653482,-0.053482
38295,160245326,SUSPICIOUS OCC,INVESTIGATIVE DETENTION,Thursday,03/24/2016 12:00:00 AM,00:01,INGLESIDE,NONE,600 Block of CIRCULAR AV,-122.445717,37.727133,"(37.7271331468967, -122.445716762922)",16024532664085,-84.718584,-0.118584
38296,160245326,NON-CRIMINAL,SEARCH WARRANT SERVICE,Thursday,03/24/2016 12:00:00 AM,00:01,INGLESIDE,NONE,600 Block of CIRCULAR AV,-122.445717,37.727133,"(37.7271331468967, -122.445716762922)",16024532675025,-84.718584,-0.118584
141657,160555799,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM",Saturday,07/09/2016 12:00:00 AM,00:01,MISSION,"ARREST, BOOKED",1800 Block of FOLSOM ST,-122.415468,37.767726,"(37.7677259930694, -122.415467502172)",16055579928150,-84.647742,-0.047742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142249,160582811,NON-CRIMINAL,LOST PROPERTY,Friday,07/15/2016 12:00:00 AM,23:59,SOUTHERN,NONE,700 Block of HARRISON ST,-122.397815,37.782137,"(37.7821372491619, -122.397814506334)",16058281171000,-84.615677,-0.015677
86416,160845261,NON-CRIMINAL,FOUND PROPERTY,Saturday,10/15/2016 12:00:00 AM,23:59,BAYVIEW,NONE,900 Block of VERMONT ST,-122.403443,37.757706,"(37.7577060629957, -122.403442888647)",16084526172000,-84.645737,-0.045737
3862,160186554,BURGLARY,"BURGLARY, UNLAWFUL ENTRY",Monday,02/29/2016 12:00:00 AM,23:59,NORTHERN,NONE,1800 Block of CHESTNUT ST,-122.433785,37.801075,"(37.8010749308469, -122.4337848137)",16018655405073,-84.632710,-0.032710
98817,160952082,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Saturday,10/22/2016 12:00:00 AM,23:59,MISSION,NONE,800 Block of DOLORES ST,-122.425387,37.755823,"(37.7558228377308, -122.425386540192)",16095208206243,-84.669564,-0.069564
42090,160329497,BURGLARY,"BURGLARY, HOT PROWL, UNLAWFUL ENTRY",Thursday,04/21/2016 12:00:00 AM,23:59,SOUTHERN,NONE,200 Block of INTERSTATE80 HY,-122.365565,37.809671,"(37.8096707013239, -122.365565425353)",16032949705083,-84.555895,0.044105

In [18]:
#2.9. вычислить несколько статистик по колонкам (используйте встроенные агрегатные функции — любые на выбор)
df['Time'].mean, df['X'].mean, df['Y'].mean, df['Location'].max

(<bound method Series.mean of 0         11:00
 1         11:00
 2         14:59
 3         23:50
 4         00:30
           ...
 150495    21:01
 150496    08:00
 150497    20:00
 150498    10:00
 150499    14:00
 Name: Time, Length: 150500, dtype: object>,
 <bound method Series.mean of 0        -122.403405
 1        -122.403405
 2        -122.388856
 3        -122.412971
 4        -122.419672
              ...
 150495   -122.453982
 150496   -122.401857
 150497   -122.412269
 150498   -122.406659
 150499   -122.403405
 Name: X, Length: 150500, dtype: float64>,
 <bound method Series.mean of 0         37.775421
 1         37.775421
 2         37.729981
 3         37.785788
 4         37.765050
             ...
 150495    37.771428
 150496    37.796626
 150497    37.790673
 150498    37.788275
 150499    37.775421
 Name: Y, Length: 150500, dtype: float64>,
 <bound method Series.max of 0          (37.775420706711, -122.403404791479)
 1          (37.775420706711, -122.403404791479)
 2         (37.7299809672996, -122.388856204292)
 3         (37.7857883766888, -122.412970537591)
 4         (37.7650501214668, -122.419671780296)
                           ...
 150495    (37.7714278595913, -122.453981622365)
 150496    (37.7966261239618, -122.401857374739)
 150497     (37.7906727649886, -122.41226909106)
 150498    (37.7882745285785, -122.406658711008)
 150499     (37.775420706711, -122.403404791479)
 Name: Location, Length: 150500, dtype: object>)

In [19]:
#2.10. По полю Район смотрим число значений с помощью .value_counts()
df['PdDistrict'].value_counts()

SOUTHERN      28445
NORTHERN      20100
MISSION       19503
CENTRAL       17666
BAYVIEW       14303
INGLESIDE     11594
TARAVAL       11325
TENDERLOIN     9942
RICHMOND       8922
PARK           8699
Name: PdDistrict, dtype: int64

In [20]:
#2.11. Dывод уникальных значений какой-либо колонки через .unique()
pd.unique(df['Time'])

array(['11:00', '14:59', '23:50', ..., '06:01', '01:48', '05:59'],
      dtype=object)

In [21]:
# 2.12. Удалить текущий индекс и создайте новый индекс на базе  колонки Date
df.set_index('Date').head(10)

,IncidntNum,Category,Descript,DayOfWeek,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId,SumXY,SumXY_
Date,,,,,,,,,,,,,,
01/29/2016 12:00:00 AM,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120,-84.627984,-0.027984
01/29/2016 12:00:00 AM,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168,-84.627984,-0.027984
04/25/2016 12:00:00 AM,141059263,WARRANTS,WARRANT ARREST,Monday,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010,-84.658875,-0.058875
01/05/2016 12:00:00 AM,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000,-84.627182,-0.027182
01/01/2016 12:00:00 AM,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000,-84.654622,-0.054622
01/01/2016 12:00:00 AM,160002869,ASSAULT,BATTERY,Friday,21:35,NORTHERN,NONE,1700 Block of BUSH ST,-122.426077,37.788019,"(37.788018555829, -122.426077177375)",16000286904134,-84.638059,-0.038059
01/02/2016 12:00:00 AM,160003130,OTHER OFFENSES,PAROLE VIOLATION,Saturday,00:04,SOUTHERN,"ARREST, BOOKED",MARY ST / HOWARD ST,-122.405721,37.780879,"(37.7808789360214, -122.405721454567)",16000313026150,-84.624843,-0.024843
01/02/2016 12:00:00 AM,160003259,NON-CRIMINAL,FIRE REPORT,Saturday,01:02,TENDERLOIN,NONE,200 Block of EDDY ST,-122.411778,37.783981,"(37.7839805592634, -122.411778295992)",16000325968000,-84.627798,-0.027798
01/02/2016 12:00:00 AM,160003970,WARRANTS,WARRANT ARREST,Saturday,12:21,SOUTHERN,"ARREST, BOOKED",4TH ST / BERRY ST,-122.393357,37.775788,"(37.7757876218293, -122.393357241451)",16000397063010,-84.617570,-0.017570
01/01/2016 12:00:00 AM,160003641,MISSING PERSON,FOUND PERSON,Friday,10:06,BAYVIEW,NONE,100 Block of CAMERON WY,-122.387182,37.720967,"(37.7209669615499, -122.387181635995)",16000364175000,-84.666215,-0.066215

#### Задание 3. Продемонстрировать работу .groupby, на основе группировок в groupby вычисляете агрегатные функции по одной или нескольким колонкам

In [22]:
#количество преступленний в каждый момент времени
df.groupby(['Time'])['SumXY'].count()

Time
00:01    3397
00:02      39
00:03      43
00:04      45
00:05     194
         ...
23:55     131
23:56      19
23:57      41
23:58      40
23:59     104
Name: SumXY, Length: 1439, dtype: int64

In [23]:
#количество преступленний в каждый момент времени в каждом районе
df.groupby(['PdDistrict', 'Time'])['SumXY'].count()

PdDistrict  Time
BAYVIEW     00:01    361
            00:04      5
            00:05     14
            00:06      4
            00:07      4
                    ...
TENDERLOIN  23:55      5
            23:56      4
            23:57      6
            23:58      1
            23:59      3
Name: SumXY, Length: 12481, dtype: int64

#### Задание 4. Решейпинг данных 1Dto2D с помощью .pivot

In [24]:
df_pivot = df.reset_index().pivot( index = 'PdId', columns = 'PdDistrict', values = 'Descript' )
df_pivot

PdDistrict,NaN,BAYVIEW,CENTRAL,INGLESIDE,MISSION,NORTHERN,PARK,RICHMOND,SOUTHERN,TARAVAL,TENDERLOIN
PdId,,,,,,,,,,,
1135121075000,NaN,FOUND PERSON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1600360406304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRAND THEFT FROM A BUILDING,NaN,NaN,NaN
1601013265010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRAFFIC VIOLATION ARREST,NaN,NaN
1602548206243,NaN,NaN,NaN,NaN,NaN,PETTY THEFT FROM LOCKED AUTO,NaN,NaN,NaN,NaN,NaN
1603683706244,NaN,NaN,NaN,NaN,NaN,GRAND THEFT FROM LOCKED AUTO,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
96139202175000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FOUND PERSON,NaN,NaN
96139202175030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CASE CLOSURE,NaN,NaN
99034011272000,NaN,NaN,FOUND PROPERTY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99100899763010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WARRANT ARREST
99100899765010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRAFFIC VIOLATION ARREST

#### 5. Решейпинг 1Dto2D данных соединённый с группировкой / агрегацией (одним словом — сводная таблица): .pivot_table. Группируем только по категориальным полям или числовым, если уверены, что значений немного! Если значений много, можете вначале из загрубить (см. (2.7.) либо (7))

In [25]:
pd.pivot_table(df, index = ['Time', 'PdDistrict'])

                    IncidntNum          PdId      SumXY    SumXY_           X  \
Time  PdDistrict
00:01 BAYVIEW     1.618223e+08  1.618223e+13 -84.654591 -0.054591 -122.394718
      CENTRAL     1.626141e+08  1.626141e+13 -84.614379 -0.014379 -122.409598
      INGLESIDE   1.627230e+08  1.627230e+13 -84.702227 -0.102227 -122.429651
      MISSION     1.620857e+08  1.620857e+13 -84.660220 -0.060220 -122.419673
      NORTHERN    1.626186e+08  1.626186e+13 -84.637720 -0.037720 -122.426464
...                        ...           ...        ...       ...         ...
23:59 PARK        1.610350e+08  1.610350e+13 -84.679030 -0.079030 -122.446983
      RICHMOND    1.606196e+08  1.606196e+13 -84.704091 -0.104091 -122.484207
      SOUTHERN    1.611474e+08  1.611474e+13 -84.625007 -0.025007 -122.403648
      TARAVAL     1.607343e+08  1.607343e+13 -84.737262 -0.137262 -122.466714
      TENDERLOIN  1.600365e+08  1.600365e+13 -84.628792 -0.028792 -122.412479

                          Y
Time  PdDistrict
00:01 BAYVIEW     37.740127
      CENTRAL     37.795219
      INGLESIDE   37.727424
      MISSION     37.759454
      NORTHERN    37.788744
...                     ...
23:59 PARK        37.767953
      RICHMOND    37.780116
      SOUTHERN    37.778642
      TARAVAL     37.729452
      TENDERLOIN  37.783686

[12481 rows x 6 columns]

#### Задание 6. Посчитать квантили распределения какого-либо вещественного признака (с помощью numpy.quantile или numpy.percentile)

In [26]:
np.quantile(df['X'].values,[ 0.5, 0.9]) # Квантили значения Х (для вероятностей 0.5 и 0.9)

array([-122.41690281, -122.39770951])

#### Задание 7. Посчитать (в виде текста) гистограмму какого-либо вещественного признака (с помощью numpy.histogram). Значения гистограммы можете использовать как вариант в качестве загрубленного числового признака для заданий 4 или 5.

In [27]:
np.histogram(df['X'].values)

(array([ 2661,  3513,  6289,  6873, 11052, 20839, 48510, 39392, 10266,
         1105], dtype=int64),
 array([-122.51364206, -122.4988344 , -122.48402674, -122.46921907,
        -122.45441141, -122.43960374, -122.42479608, -122.40998842,
        -122.39518075, -122.38037309, -122.36556543]))

#### Задание 8. Получить DataFrame с MultiIndex любым способом: через конструктор (в документации увидите множество видов конструкторов для создания MultiIndex с нуля), через read_sql / read_csv / read_excel, read_*, через pivot_table, через groupby или иными способами.

In [28]:
multi_df = df.groupby(['Date','Time']).mean()
multi_df

                                IncidntNum           X          Y  \
Date                   Time
01/01/2016 12:00:00 AM 00:01  1.625848e+08 -122.426423  37.760100
                       00:05  1.620004e+08 -122.413124  37.789651
                       00:07  1.600003e+08 -122.419835  37.786358
                       00:09  1.600003e+08 -122.421935  37.766134
                       00:10  1.615004e+08 -122.439648  37.751944
...                                    ...         ...        ...
12/31/2016 12:00:00 AM 23:36  1.700000e+08 -122.416230  37.763634
                       23:45  1.720006e+08 -122.399023  37.779630
                       23:46  1.700000e+08 -122.409854  37.783386
                       23:50  1.740037e+08 -122.395644  37.770039
                       23:58  1.700002e+08 -122.409770  37.758817

                                      PdId      SumXY    SumXY_
Date                   Time
01/01/2016 12:00:00 AM 00:01  1.625848e+13 -84.666323 -0.066323
                       00:05  1.620004e+13 -84.623473 -0.023473
                       00:07  1.600003e+13 -84.633477 -0.033477
                       00:09  1.600003e+13 -84.655801 -0.055801
                       00:10  1.615004e+13 -84.687704 -0.087704
...                                    ...        ...       ...
12/31/2016 12:00:00 AM 23:36  1.700000e+13 -84.652597 -0.052597
                       23:45  1.720006e+13 -84.619393 -0.019393
                       23:46  1.700000e+13 -84.626467 -0.026467
                       23:50  1.740037e+13 -84.625605 -0.025605
                       23:58  1.700002e+13 -84.650953 -0.050953

[67140 rows x 6 columns]

In [29]:
#8.1. Переставить местами уровни индекса
multi_df.swaplevel( i = 0, j = 1, axis = 0 ).sort_index()

                                IncidntNum           X          Y  \
Time  Date
00:01 01/01/2016 12:00:00 AM  1.625848e+08 -122.426423  37.760100
      01/02/2016 12:00:00 AM  1.615247e+08 -122.424356  37.762211
      01/03/2016 12:00:00 AM  1.600568e+08 -122.419764  37.770154
      01/04/2016 12:00:00 AM  1.630335e+08 -122.411051  37.774069
      01/05/2016 12:00:00 AM  1.600333e+08 -122.453401  37.760257
...                                    ...         ...        ...
23:59 12/03/2016 12:00:00 AM  1.609839e+08 -122.412464  37.747292
      12/13/2016 12:00:00 AM  1.610141e+08 -122.407324  37.790289
      12/14/2016 12:00:00 AM  1.610161e+08 -122.390147  37.736391
      12/27/2016 12:00:00 AM  1.610540e+08 -122.430883  37.765111
      12/30/2016 12:00:00 AM  1.610625e+08 -122.428844  37.776669

                                      PdId      SumXY    SumXY_
Time  Date
00:01 01/01/2016 12:00:00 AM  1.625848e+13 -84.666323 -0.066323
      01/02/2016 12:00:00 AM  1.615247e+13 -84.662145 -0.062145
      01/03/2016 12:00:00 AM  1.600568e+13 -84.649610 -0.049610
      01/04/2016 12:00:00 AM  1.630335e+13 -84.636982 -0.036982
      01/05/2016 12:00:00 AM  1.600333e+13 -84.693144 -0.093144
...                                    ...        ...       ...
23:59 12/03/2016 12:00:00 AM  1.609839e+13 -84.665172 -0.065172
      12/13/2016 12:00:00 AM  1.610141e+13 -84.617036 -0.017036
      12/14/2016 12:00:00 AM  1.610161e+13 -84.653756 -0.053756
      12/27/2016 12:00:00 AM  1.610540e+13 -84.665773 -0.065773
      12/30/2016 12:00:00 AM  1.610625e+13 -84.652175 -0.052175

[67140 rows x 6 columns]

In [30]:
# 8.2. Транспонировать таблицу (или создать новую другую) с multiindex
df_pivot = df.pivot_table( index ='PdDistrict', columns = ['Date', 'Time'], values = 'IncidntNum').fillna(0).astype(int)
df_pivot

Date       01/01/2016 12:00:00 AM                                              \
Time                        00:01      00:05      00:07      00:09      00:10
PdDistrict
BAYVIEW                 166343415          0          0          0          0
CENTRAL                 158799888  160000089          0          0          0
INGLESIDE               164037022          0          0          0          0
MISSION                 161585359          0          0  160000261          0
NORTHERN                161834850  166000445  160000283          0  160000142
PARK                    164057475          0          0          0          0
RICHMOND                160006140          0          0          0          0
SOUTHERN                162470188  160000556          0          0  166001368
TARAVAL                 162581215          0          0          0  160000114
TENDERLOIN              162787581          0          0          0          0

Date                                                               ...  \
Time            00:16      00:20      00:22      00:30      00:45  ...
PdDistrict                                                         ...
BAYVIEW             0          0          0  160002267          0  ...
CENTRAL             0  166002946  160000120  163001718  160000302  ...
INGLESIDE           0          0          0          0          0  ...
MISSION             0          0          0  160002740          0  ...
NORTHERN            0          0          0  166000172          0  ...
PARK                0          0          0          0          0  ...
RICHMOND            0          0          0          0          0  ...
SOUTHERN    166008289  166006405          0  160005146          0  ...
TARAVAL             0          0          0          0          0  ...
TENDERLOIN          0          0          0          0          0  ...

Date       12/31/2016 12:00:00 AM                                              \
Time                        23:19      23:20      23:25      23:30      23:32
PdDistrict
BAYVIEW                         0          0          0          0          0
CENTRAL                         0          0          0          0          0
INGLESIDE                       0          0          0          0          0
MISSION                         0          0          0  170012002          0
NORTHERN                        0          0          0  176007588          0
PARK                            0          0          0          0          0
RICHMOND                        0  161063921          0          0          0
SOUTHERN                161063868          0  161063915  172056520  170000449
TARAVAL                         0          0          0          0          0
TENDERLOIN                      0          0          0          0  161063909

Date
Time            23:36      23:45      23:46      23:50      23:58
PdDistrict
BAYVIEW             0          0          0  170006049          0
CENTRAL             0          0          0  176000930          0
INGLESIDE           0          0          0          0          0
MISSION     170000013          0          0          0  170000198
NORTHERN            0          0          0          0          0
PARK                0          0          0          0          0
RICHMOND            0          0          0          0          0
SOUTHERN            0  172000621          0  176004039          0
TARAVAL             0          0          0          0          0
TENDERLOIN          0          0  170000029          0          0

[10 rows x 67139 columns]

In [31]:
# 8.3. Удалить один из уровней индекса или добавить новый уровень индекса (можно инициализированный константой)

In [32]:
multi_df.index =  multi_df.index.droplevel(level = 1)
multi_df

,IncidntNum,X,Y,PdId,SumXY,SumXY_
Date,,,,,,
01/01/2016 12:00:00 AM,1.625848e+08,-122.426423,37.760100,1.625848e+13,-84.666323,-0.066323
01/01/2016 12:00:00 AM,1.620004e+08,-122.413124,37.789651,1.620004e+13,-84.623473,-0.023473
01/01/2016 12:00:00 AM,1.600003e+08,-122.419835,37.786358,1.600003e+13,-84.633477,-0.033477
01/01/2016 12:00:00 AM,1.600003e+08,-122.421935,37.766134,1.600003e+13,-84.655801,-0.055801
01/01/2016 12:00:00 AM,1.615004e+08,-122.439648,37.751944,1.615004e+13,-84.687704,-0.087704
...,...,...,...,...,...,...
12/31/2016 12:00:00 AM,1.700000e+08,-122.416230,37.763634,1.700000e+13,-84.652597,-0.052597
12/31/2016 12:00:00 AM,1.720006e+08,-122.399023,37.779630,1.720006e+13,-84.619393,-0.019393
12/31/2016 12:00:00 AM,1.700000e+08,-122.409854,37.783386,1.700000e+13,-84.626467,-0.026467
12/31/2016 12:00:00 AM,1.740037e+08,-122.395644,37.770039,1.740037e+13,-84.625605,-0.025605
12/31/2016 12:00:00 AM,1.700002e+08,-122.409770,37.758817,1.700002e+13,-84.650953,-0.050953

#### 9. Продемонстировать работу .merge

In [33]:
df2 = pd.DataFrame( np.random.exponential(100, (10,1)), columns = ['random'] ) # генерация матрици случайных чисел
df2

       random
0  151.633223
1  142.657461
2    2.259821
3  101.910539
4   71.026497
5   69.426390
6  110.097336
7    8.796309
8   29.288224
9  128.021637

In [34]:
df.merge( df2, left_index = True, right_index = True )

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId,SumXY,SumXY_,random
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120,-84.627984,-0.027984,151.633223
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168,-84.627984,-0.027984,142.657461
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010,-84.658875,-0.058875,2.259821
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000,-84.627182,-0.027182,101.910539
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000,-84.654622,-0.054622,71.026497
5,160002869,ASSAULT,BATTERY,Friday,01/01/2016 12:00:00 AM,21:35,NORTHERN,NONE,1700 Block of BUSH ST,-122.426077,37.788019,"(37.788018555829, -122.426077177375)",16000286904134,-84.638059,-0.038059,69.426390
6,160003130,OTHER OFFENSES,PAROLE VIOLATION,Saturday,01/02/2016 12:00:00 AM,00:04,SOUTHERN,"ARREST, BOOKED",MARY ST / HOWARD ST,-122.405721,37.780879,"(37.7808789360214, -122.405721454567)",16000313026150,-84.624843,-0.024843,110.097336
7,160003259,NON-CRIMINAL,FIRE REPORT,Saturday,01/02/2016 12:00:00 AM,01:02,TENDERLOIN,NONE,200 Block of EDDY ST,-122.411778,37.783981,"(37.7839805592634, -122.411778295992)",16000325968000,-84.627798,-0.027798,8.796309
8,160003970,WARRANTS,WARRANT ARREST,Saturday,01/02/2016 12:00:00 AM,12:21,SOUTHERN,"ARREST, BOOKED",4TH ST / BERRY ST,-122.393357,37.775788,"(37.7757876218293, -122.393357241451)",16000397063010,-84.617570,-0.017570,29.288224
9,160003641,MISSING PERSON,FOUND PERSON,Friday,01/01/2016 12:00:00 AM,10:06,BAYVIEW,NONE,100 Block of CAMERON WY,-122.387182,37.720967,"(37.7209669615499, -122.387181635995)",16000364175000,-84.666215,-0.066215,128.021637

#### 10. Продемонстрировать работу с .concat или append

In [35]:
x1 = df.loc[10:15]
x2 = df.loc[1010:1015] # выбираем строки

In [36]:
pd.concat([x1, x2])

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId,SumXY,SumXY_
10,160086863,LARCENY/THEFT,ATTEMPTED THEFT FROM LOCKED VEHICLE,Friday,01/29/2016 12:00:00 AM,22:30,TARAVAL,NONE,1200 Block of 19TH AV,-122.423598,37.764478,"(37.7644781578695, -122.477376524003)",16008686306240,-84.659120,-0.059120
11,160004053,NON-CRIMINAL,"AIDED CASE, MENTAL DISTURBED",Saturday,01/02/2016 12:00:00 AM,13:30,TARAVAL,NONE,2200 Block of 21ST AV,-122.477960,37.745739,"(37.7457389429655, -122.477960327299)",16000405364020,-84.732221,-0.132221
12,160073014,OTHER OFFENSES,RESISTING ARREST,Monday,01/25/2016 12:00:00 AM,23:20,BAYVIEW,"ARREST, BOOKED",200 Block of HUNTERSPOINT BL,-122.376758,37.735697,"(37.7356970275482, -122.37675765553)",16007301427170,-84.641061,-0.041061
13,140776777,ASSAULT,AGGRAVATED ASSAULT WITH A GUN,Thursday,09/15/2016 12:00:00 AM,07:40,INGLESIDE,"ARREST, BOOKED",SILVER AV / CAMELLIA AV,-122.423598,37.729271,"(37.7292705199592, -122.432325871028)",14077677704011,-84.694328,-0.094328
14,160004069,BURGLARY,"BURGLARY,STORE UNDER CONSTRUCTION, FORCIBLE ENTRY",Saturday,01/02/2016 12:00:00 AM,01:43,CENTRAL,NONE,100 Block of SANSOME ST,-122.400909,37.791643,"(37.791642982384, -122.40090869889)",16000406905151,-84.609266,-0.009266
15,160004150,STOLEN PROPERTY,"STOLEN CHECKS, POSSESSION",Saturday,01/02/2016 12:00:00 AM,11:54,SOUTHERN,"ARREST, BOOKED",900 Block of MARKET ST,-122.423598,37.783707,"(37.7837069301545, -122.408595110869)",16000415011017,-84.639891,-0.039891
1010,160053066,LARCENY/THEFT,GRAND THEFT FROM A BUILDING,Tuesday,01/19/2016 12:00:00 AM,14:30,NORTHERN,NONE,0 Block of WALLER ST,-122.424535,37.771951,"(37.771951149902, -122.424535363098)",16005306606304,-84.652584,-0.052584
1011,160053072,OTHER OFFENSES,LOST/STOLEN LICENSE PLATE,Friday,01/15/2016 12:00:00 AM,19:00,RICHMOND,NONE,300 Block of 25TH AV,-122.485010,37.782933,"(37.7829328507331, -122.485010377829)",16005307271010,-84.702078,-0.102078
1012,160053072,NON-CRIMINAL,"LICENSE PLATE, RECOVERED",Friday,01/15/2016 12:00:00 AM,19:00,RICHMOND,NONE,300 Block of 25TH AV,-122.485010,37.782933,"(37.7829328507331, -122.485010377829)",16005307271012,-84.702078,-0.102078
1013,160022011,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Friday,01/08/2016 12:00:00 AM,19:30,SOUTHERN,NONE,10TH ST / HARRISON ST,-122.411279,37.771579,"(37.7715785765043, -122.411279189969)",16002201106244,-84.639701,-0.039701
1014,160022061,WARRANTS,WARRANT ARREST,Friday,01/08/2016 12:00:00 AM,17:34,NORTHERN,"ARREST, BOOKED",1100 Block of FRANKLIN ST,-122.423049,37.785240,"(37.7852397067254, -122.423049038172)",16002206163010,-84.637809,-0.037809
1015,160022077,LARCENY/THEFT,PETTY THEFT SHOPLIFTING,Friday,01/08/2016 12:00:00 AM,21:10,INGLESIDE,NONE,700 Block of PORTOLA DR,-122.453726,37.744221,"(37.7442209162424, -122.453725754435)",16002207706362,-84.709505,-0.109505

#### Задание 11. Проитерировать dataframe построчно .iterrows() и что-то "полезное" сделайте внутри цикла

In [53]:
last_df = df[df.index == 2]
last_df

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId,SumXY,SumXY_,dayOfTime
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010,-84.658875,-0.058875,morning

In [55]:
#Запись всех преступлений, совершенных в понедельник
for i, row in df.iterrows():
    if str(row[5]) == 'Monday': 
        d = df[df.index == i]
        last_df = pd.concat([last_df, d])

In [56]:
last_df

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId,SumXY,SumXY_,dayOfTime
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010,-84.658875,-0.058875,morning
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010,-84.658875,-0.058875,morning
12,160073014,OTHER OFFENSES,RESISTING ARREST,Monday,01/25/2016 12:00:00 AM,23:20,BAYVIEW,"ARREST, BOOKED",200 Block of HUNTERSPOINT BL,-122.376758,37.735697,"(37.7356970275482, -122.37675765553)",16007301427170,-84.641061,-0.041061,morning
38,160009956,ROBBERY,ROBBERY OF A CHAIN STORE WITH BODILY FORCE,Monday,01/04/2016 12:00:00 AM,17:50,TARAVAL,"ARREST, BOOKED",3200 Block of 20TH AV,-122.475647,37.728528,"(37.7285280627465, -122.475647460786)",16000995603044,-84.747119,-0.147119,morning
39,160010323,OTHER OFFENSES,VIOLATION OF RESTRAINING ORDER,Monday,01/04/2016 12:00:00 AM,20:15,INGLESIDE,NONE,0 Block of VIRGINIA AV,-122.420967,37.742852,"(37.7428517374449, -122.420967440564)",16001032315161,-84.678116,-0.078116,morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52148,160540007,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Monday,07/04/2016 12:00:00 AM,01:47,NORTHERN,NONE,VANNESS AV / GOLDEN GATE AV,-122.420440,37.781031,"(37.7810308461783, -122.420439512717)",16054000706243,-84.639409,-0.039409,morning
52149,160540029,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Monday,07/04/2016 12:00:00 AM,01:45,MISSION,"ARREST, BOOKED",18TH ST / FLORIDA ST,-122.411091,37.761701,"(37.7617009781734, -122.411090794581)",16054002928160,-84.649390,-0.049390,morning
52152,160540057,OTHER OFFENSES,EVADING A POLICE OFFICER RECKLESSLY,Monday,07/04/2016 12:00:00 AM,02:29,NORTHERN,NONE,LARKIN ST / OLIVE ST,-122.417809,37.784710,"(37.7847098968616, -122.4178091031)",16054005727175,-84.633099,-0.033099,morning
52153,160540057,OTHER OFFENSES,RECKLESS DRIVING,Monday,07/04/2016 12:00:00 AM,02:29,NORTHERN,NONE,LARKIN ST / OLIVE ST,-122.417809,37.784710,"(37.7847098968616, -122.4178091031)",16054005765020,-84.633099,-0.033099,morning
52154,160540057,OTHER OFFENSES,FAILURE TO HEED RED LIGHT AND SIREN,Monday,07/04/2016 12:00:00 AM,02:29,NORTHERN,NONE,LARKIN ST / OLIVE ST,-122.417809,37.784710,"(37.7847098968616, -122.4178091031)",16054005765040,-84.633099,-0.033099,morning